.elsemedia-anchors {

	display: none;
	position: sticky;
	top: -1px;
	z-index: 1095;
	background: $white;
	transition: .40s linear;

	+ [class*="spacer-mt-"] {
		@include media-breakpoint-down(sm) {
			margin-top:0;
		}
	}
	@include media-breakpoint-up(md) {
		display: block;
	}
	ul {
		display: inline-block;
		border-bottom: 1px solid $black;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			@extend .spacer-ml-48;
			&:first-child {
				margin-left: 0;
			}
			a {
				@extend .text-12-bold;
				text-transform: uppercase;
				color: $black;
				padding-bottom: 12px;
				padding-top: 12px;
				display: inline-block;
				transition: $hover-transition;
				position: relative;
				&:after {
					width: 0;
					height:4px;
					position: absolute;
					left:0;
					bottom:-4px;
					content:'';
					transition: $hover-transition;
					background: transparent;
				}
				&.active {
					&:after {
						background: $black;
						width: 100%;
					}
				}
				&:hover {
					color: $primary;
					text-decoration: none;
				}
			}
		}
	}
}

.scroll-up {
	.elsemedia-anchors {
		top: 79px;
		transition: 0.55s ease-in-out;
		@include media-breakpoint-up(lg) {
			top: 99px;
		}
	}
}