#CybotCookiebotDialogBodyContentText {
	font-family: "BentonSans" !important;
	font-size: 10pt !important;
}
#CybotCookiebotDialogBodyLevelButtonsSelectPane {
	border: 0px !important;
	padding-left: 8px !important;
}
.CybotCookiebotDialogBodyLevelButtonWrapper {
	margin-right: 40px !important;
}
a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll, a#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection, a#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll {
	height: 25px !important;
}
#CybotCookiebotDialog a {
	line-height: 2 !important;
}
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelectionWrapper {
	position: absolute !important;
}
#CybotCookiebotDialogBody {
	height: 270px !important;
	max-width: 760px !important;
}
.CybotCookiebotDialogBodyLevelButtonWrapper {
	font-family: "BentonSans" !important;
	font-size: 10pt !important;
}
#CybotCookiebotDialog a, #CybotCookiebotDialog div, #CybotCookiebotDialogBodyContentControls, #CybotCookiebotDialogBodyContentTitle {
	font-family: "BentonSans" !important;
	font-size: 10pt !important;
}
#CybotCookiebotDialogBodyLevelDetailsButton  {
	font-family: "BentonSans" !important;
	font-size: 10pt !important;
}
.CybotCookiebotDialogBodyButton {
	font-family: "BentonSans" !important;
	font-size: 10pt !important;
	margin-left: 8px !important;
}
#CybotCookiebotDialogBodyContentTitle {
	font-family: "BentonSans" !important;
	font-size: 20pt !important;
	margin: 15px 0 10px !important;
	font-weight: 800 !important;
}
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
	position: absolute !important;
	left: 506px !important;
	top: 60px !important;
}
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
	position: absolute !important;
	left: 253px !important;
	top: 60px !important;
	background-color: transparent !important;
	color: #5ec4e7 !important;
}
#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll {
	position: absolute !important;
	left: 0px !important;
	top: 60px !important;
	background-color: transparent !important;
	color: #5ec4e7 !important;
}
#CybotCookiebotDialogDetailBodyContent {
	height: 215px !important;
}
#CybotCookiebotDialogDetailBody {
	max-width: 740px !important;
	text-align: right !important;
}
a#CybotCookiebotDialogBodyLevelDetailsButton {
	background-position: right 9px !important;
}
#CybotCookiebotDialogBodyLevelButtons {
	margin-left: 0px !important;
	position: absolute !important;
	width: 740px !important;
}
#CybotCookiebotDialogBodyLevelButtonsTable {
	width: 755px !important;
}
input[type=checkbox].CybotCookiebotDialogBodyLevelButton {
	display:none !important;
}
input[type=checkbox].CybotCookiebotDialogBodyLevelButton+label::before {
	width: 15px !important;
	height: 15px !important;
	border: 1px solid #ccc !important;
	background-color: #fff !important;
	display: block !important;
	content: "" !important;
	float: left !important;
	margin-right: 5px !important;
}
input[type=checkbox]:checked.CybotCookiebotDialogBodyLevelButton+label::before {
	box-shadow: inset 0px 0px 0px 3px #fff !important;
	background-color: #ccc !important;
}
input[type=checkbox].CybotCookiebotDialogBodyLevelButton+label {
	padding-left: 0px !important;
}
input[type=checkbox].CybotCookiebotDialogBodyLevelButton.CybotCookiebotDialogBodyLevelButtonDisabled+label {
	padding-left: 0px !important;
}
#CybotCookiebotDialogBodyLevelDetailsWrapper {
	border: 0px !important;
	background-color: transparent !important;
	padding-top: 1px !important;
	text-align: right !important;
	padding-right: 8px !important;
}