// define global elements

.lead {
  line-height: $line-height-lead;
}

.shapedividers-wrapper {
  &.fill-white {
    svg {
      fill: $white!important;;
    }
  }
  &.fill-softgrey {
    svg {
      fill: $softgrey!important;;
    }
  }
  &.fill-lightgrey {
    svg {
      fill: $lightgrey!important;
    }
  }
}


.t-c {
  &.t-end {
    h2, p.lead {
      text-align: right;
    }
  }
  &.t-center {
    h2, p.lead {
      text-align: center;
    }
  }
  &.t-start {
    h2, p.lead {
      text-align: left;
    }
  }
}
