@font-face {
	font-family: "elsemedia-icons";
	font-display: swap;
	src: url('../icon-font/elsemedia-icons.eot');
	src: url('../icon-font/elsemedia-icons.eot?#iefix') format('eot'),
		url('../icon-font/elsemedia-icons.woff2') format('woff2'),
		url('../icon-font/elsemedia-icons.woff') format('woff'),
		url('../icon-font/elsemedia-icons.ttf') format('truetype'),
		url('../icon-font/elsemedia-icons.svg#elsemedia-icons') format('svg');
}

@mixin icon-styles {
	font-family: "elsemedia-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-nav {
		$char: "\E001";
	}
	@if $filename == arrow {
		$char: "\E002";
	}
	@if $filename == elsemedia-logo {
		$char: "\E003";
	}
	@if $filename == clear {
		$char: "\E004";
	}
	@if $filename == icon-clear {
		$char: "\E005";
	}
	@if $filename == play {
		$char: "\E006";
	}
	@if $filename == present {
		$char: "\E007";
	}
	@if $filename == search {
		$char: "\E008";
	}
	@if $filename == three-arrows {
		$char: "\E009";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@include icon-styles;
		content: icon-char($filename);
	}
}

.icon-arrow-nav {
	@include icon(arrow-nav);
}
.icon-arrow {
	@include icon(arrow);
}
.icon-elsemedia-logo {
	@include icon(elsemedia-logo);
}
.icon-clear {
	@include icon(clear);
}
.icon-icon-clear {
	@include icon(icon-clear);
}
.icon-play {
	@include icon(play);
}
.icon-present {
	@include icon(present);
}
.icon-search {
	@include icon(search);
}
.icon-three-arrows {
	@include icon(three-arrows);
}
