/**
 * styling fo link tree content element (FCE 002-linktree)
 * Author: mab
 * Date: 2021/11/17
 */

.section__linktree {
	@extend .spacer-pt-128;
	@extend .spacer-pb-128;
	min-height: 100vh;
	background: $dark;
	display: flex;
	align-items: flex-start;
	text-align: center;

	img {
		height: 10vh;
		min-height: 75px;
		width: auto;
	}

	p {
		color: $white;
		margin-top: 2rem;
		font-size: 1rem;
	}

	.linktree {
		list-style: none;
		padding: 0;
		display: block;
		max-width: 600px;
		margin: 48px auto 0;
		li {
			margin: 16px 0;
			display: block;
			a {
				padding: 0.6rem 1.5rem;
				background: $primary;
				color: $white;
				border-radius: 3px;
				border: 2px solid $primary;
				transition: 0.3s;
				display: block;
				text-align: center;
				&:hover {
					background: $white;
					border: 2px solid $primary;
					text-decoration: none;
					color:$primary;
				}
			}
		}
	}
}