.service {
  // for shape divider
  position: relative;
  z-index: 3;
  // container
  .service-listing {
    position: relative;
    background: $white;
    border-radius: 5%;
    min-height: 250px;
    z-index: 2;
    margin-top: 7rem;
    box-shadow: $box-shadow-service;
  }
  // icon
  .service-listing-icon-container {
    max-width: 180px;
    background: $lightgrey;
    border-radius: 100%;
    z-index: 3;
  }

  .service-listing-icon {
    padding: 25%;
  }

  .service-listing-title {
    margin-top: 5rem;
    font-size: 1.25rem;
  }

  .service-listing-button {
    min-width: 200px;
    width: fit-content;
  }
}
