.site-header {
  // defaults
  .fixed-top {
    transition: background-color ease-in-out 0.2s;
    --bs-bg-opacity: 0.85;
    box-shadow: $box-shadow-header;
  }

  .navbar-brand {
    img {
      transition: height ease-in-out 0.2s;
    }

    &.md {
      img {
        height: 90px;
        width: auto;
      }
    }

    &.xs {
      img {
        height: 60px;
        width: auto;
      }
    }
  }

  .navbar {
    @include media-breakpoint-up(lg) {
      padding: 0;
    }
  }

  .navbar-nav {
    @include media-breakpoint-up(lg) {
      margin-top: 1.5rem;
    }
  }

  .nav-link {
    @include media-breakpoint-up(lg) {
      padding-top: 2.5rem;
      padding-bottom: 2rem;
      border-bottom: 4px solid;
      border-color: transparent;
      transition: padding ease-in-out 0.2s, color ease-in-out 0.2s, border-bottom ease-in-out 0.2s;

      &:not(last-child) {
        margin-right: 1rem!important;
      }

      &.active {
        border-bottom: 4px solid $primary;
      }
    }
  }
  // after scolling
  &.active {
    @include media-breakpoint-up(lg) {
      .nav-link {
        padding-top: 1.5rem;
        padding-bottom: 1.75rem;
      }
    }

    .fixed-top {
      --bs-bg-opacity: 1;
    }

    .navbar-brand {
      &.md {
        img {
          height: 70px;
          width: auto;
        }
      }
    }
  }
}
