.mobile-menu {
	position: fixed;
	left: 0;
	top: $small-header-height;
	height: calc( 100%  - #{$small-header-height} );
	width: 100%;
	z-index: 1090;
	overflow: auto;
	background: $black;
	-webkit-overflow-scrolling: touch;
	opacity: 0;
	display: none;
	pointer-events: none;
	transition: opacity 0.3s cubic-bezier(0.000, 0.995, 0.990, 1.000);
	@include media-breakpoint-up(lg) {
		display: none;
	}
	&__inner {
		display: flex;
		flex-wrap: wrap;
		min-height: 100%;
		width: 100%;
		padding: 72px 32px 48px;
		color: $white;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				a {
					color: $white;
					&.current, &.active {
						text-decoration: underline;
					}
				}
			}
		}
	}
	&__main {
		padding-bottom: 64px;
		width: 100%;
		overflow-x:hidden ;
		ul li {
			transition: opacity 0.3s cubic-bezier(0.000, 0.995, 0.990, 1.000), transform .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
			opacity: 0;

			@for $i from 1 through 10 {
				&:nth-child(#{$i}){
					transform:translateY(20px * $i) translateX(20px * $i );
				}
			}

			a {
				line-height: 200%;
			}

		}
	}
	&__meta {
		margin-top: auto;
		width: 100%;
		transition: 0.1s ease-in-out;
		opacity: 0;
		transform: translateY(10px);
		ul li {
			display: inline-block;
			margin-right: 1rem;
		}
	}
}

.open-mobile-navigation {
	.mobile-menu {
		opacity: 1;
		pointer-events: auto;
		transition: opacity 0.3s cubic-bezier(0.000, 0.995, 0.990, 1.000);
		&__meta {
			opacity: 1;
			transition: 0.3s 1s ease-in-out;
			transform: translateY(0);
		}
		&__main {
			ul li {
				@for $i from 1 through 10 {
					&:nth-child(#{$i}) {
						transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) ( .07s * $i ) + 0.3s;
						opacity: 1;
						transform: translateY(0) translateX(0);
					}
				}
			}
		}
	}
}

.page-loaded {
	.mobile-menu {
		display: block;
	}
}