.custom {
  // for shape divider
  position: relative;
  z-index: 3;
  // custom-image
  .custom-image {
    position: relative;
    max-width: 375px;
    height: auto;
    border-radius: 50%;
    z-index: 5;
    box-shadow: $box-shadow;
  }
  // custom-table
  .wp-block-table {
    td:first-child,
    th:first-child {
      border-radius: 25px 0 0 25px;
    }

    td:last-child,
    th:last-child {
      border-radius: 0 25px 25px 0;
    }

    td {
      padding: 0.3rem 1.05rem;
      text-align: center;
    }

    tr:nth-child(even) {
      background: $lightgrey;
    }

    tr td:nth-child(1) {
      color: $black;
      text-align: left;
    }
  }
  // custom-circle
  .col-circle {
    position: relative;

    &.change-order {
      // settings for changed order
      .circle {
        &:nth-of-type(1) {
          right: 8%;
        }

        &:nth-of-type(2) {
          right: 10%;
        }
      }
    }

    .circle {
      position: absolute;
      border-radius: 50%;
      opacity: 0.5;
      transform: translate(-50%,-50%);

      &:nth-of-type(1) {
        @include media-breakpoint-down(sm) {}
        background-color: $lightgrey;
        width: 140px;
        height: 140px;
        top: 55%;
        left: 9%;
        z-index: 2;
      }

      &:nth-of-type(2) {
        @include media-breakpoint-down(sm) {}
        background-color: $primary;
        width: 225px;
        height: 225px;
        opacity: 0.9;
        top: 65%;
        left: 3%;
        z-index: 2;
      }
    }
  }
}
