#login {
  padding-top: 12%;
  h1 a {
    background-size: 100%;
    width: 100%;
    height: 65px;
    background-image: url(../../assets/images/login-logo.png);
  }
}
#wp-submit {
  border-color: $elsemedia;
  background-color: $elsemedia;
  &:hover {
    background: lighten($elsemedia, 10%);
    border-color: lighten($elsemedia, 10%);
  }
}
