.detail {
  position: relative;
  margin-top: 200px;
  margin-bottom: 100px;
  z-index: 5;
  @include media-breakpoint-down(lg) {
    margin-top: 80px;
  }
  .detail-content {
    &.mb-small {
      margin-bottom: 0px!important;
    }
    &.mb-medium {
      margin-bottom: 50px!important;
    }
    &.mb-large {
      margin-bottom: 100px!important;
    }
  }
  // breadcrumb
  .breadcrumb-detail-wrap {
    display: inline-block;
    border-radius: 25px;
    margin-bottom: 85px;
    width: 100%;
    min-width: 500px;
    overflow: hidden;
    @include media-breakpoint-down(lg) {
      display: none!important;
    }
    .breadcrumb-detail {
      margin: 0;
      padding: 0;
    }
    .breadcrumb-detail-item {
      position: relative;
      border-radius: 25px;
      padding: 0 1.5rem;
      list-style-type: none;
      display: inline-block;
      a {
        color: rgba($darkgrey, 0.8);
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: rgba($black, 1);
        }
      }
      &:nth-of-type(1) {
        z-index: 3;
        background-color: $softgrey;
      }
      &:nth-of-type(2) {
        z-index: 2;
        padding-left: 3rem;
        margin-left: -2rem;
        background-color: $lightgrey;
      }
      &:nth-of-type(3) {
        z-index: 1;
        padding-left: 3rem;
        margin-left: -2rem;
        color: rgba($white, 1);
        background-color: $secondary;
      }
    }
  }
  .service-listing-button-back {
    display: inline-block;
    position: relative;
    background-color: $darkgrey!important;
    margin-top: 1rem;
  }
}
.detail-image-wrap {
    position:fixed;
    top:0;
    left:0;
    width:100%;
  .detail-image {
    position: relative;
    height: 100vh;
    max-width: 49.5%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      background-color: rgba($white, 0.20);
    }
  }
}
.svg-divider-wrap {
  position: fixed;
  left: 45%;
  top: 100px; // because of nav
  transform: translate(-50%, 0);
  width: 250px;
  @media only screen and (min-width: 2220px) {
    left: 46%;
  }
  .svg-divider {
    display: inline-block;
    float: left;
    position: relative;
    width: inherit;
    min-height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg id='vertical-1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 249 901'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M250,900.5V-.5Q166.74,0,83.48.05,48.22.08,13,.05C53.78,64.55,99.22,160.4,91.09,272.91c-1.87,25.85-6.12,46.39-11.78,64C49.74,429.2,28.39,454.54,12.19,507.79-25,630.22,38.73,766.18,85.09,865c7,14.81,13.15,26.87,17.44,35Z' transform='translate(-1 0.5)'/%3E%3Cpath class='cls-1' d='M250,900.26v-.34' transform='translate(-1 0.5)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
  }
}
.detail-image-wrap-mobile {
  background: $softgrey;
  height: 400px;
  width: 100%;
  @include media-breakpoint-down(md) {
    height: 300px;
  }
  .detail-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      background-color: rgba($white, 0.20);
    }
  }
}
.detail-divider {
  position: absolute;
  bottom: -1px; // for ios 
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  #detail-divider-1 {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    fill: $white;
    height: 100%;
  }
}

.detail-resources {
  margin-top: 7rem;
  .detail-resource {
    margin: 0px -60px;
    padding: 40px 60px;
    background-color: $softgrey;
    border-radius: 25px;
    box-shadow: $box-shadow-service;
    &:not(:last-child) {
      margin-bottom: 4rem;
      @include media-breakpoint-down(md) {
        margin-bottom: 2rem;
      }
    }
    &:first-of-type {
      margin-top: 3rem;
    }
  }
  .service-listing-button {
    display: inline-block;
    margin-top: 1.5rem;
  }
}
