// theme-colors
// usage: theme-color($color);
$primary: #cbe09c !default;
$secondary: #a8a8a7 !default;
$lightgrey: #e5e5e5 !default;
$darkgrey: #575756 !default;
$darkergrey: #3c3c3c !default;
$footergrey: #454545 !default;
$softgrey: #f6f6f6 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;

// grays
// usage: gray($color);
$white:    #fff !default;
$dark: #000;
$black: #000;
$light-dark: #3E4146;
$gray-border: #CBCBCB;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #6c757d !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #000 !default;

// colors
// usage: colors($color);
//$blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

// admin
$elsemedia: #667983;

 $font-family-sans-serif: "Lato";
 $font-family-base: $font-family-sans-serif !default;
// $icon-font-path: '../bower-assets/';

// $headings-font-family: null !default;
// $h1-font-size: $font-size-base * 2.5 !default;
// $h2-font-size: $font-size-base * 2 !default;
// $h3-font-size: $font-size-base * 1.75 !default;

$grid-gutter-width: 64px;
$container-max-widths: (
				sm: 540px,
				md: 720px,
				lg: 960px,
				xl: 1200px
);


$elsemediaTextSizes: (
		12: (
				generalStyles: (
						line-height: 134%,
						letter-spacing: 0.08em
				),
				sizes:(
						xs: 12px,
						md: 12px,
						lg: 12px,
						xl: 12px
				)
		),
		14: (
				generalStyles: (
						line-height: 142%,
						letter-spacing: 0.1em
				),
				sizes:(
						xs: 14px,
						md: 14px,
						lg: 14px,
						xl: 14px
				)
		),
		18: (
				generalStyles: (
						line-height: 142%,
						letter-spacing: 0.01em
				),
				sizes:(
						xs: 14px,
						md: 16px,
						lg: 16px,
						xl: 18px
				)
		),
		20: (
				generalStyles: (
						line-height: 150%,
						letter-spacing: 0.05em
				),
				sizes:(
						xs: 14px,
						md: 16px,
						lg: 18px,
						xl: 20px
				)
		),
		24: (
				generalStyles: (
						line-height: 133%,
						letter-spacing: 0.01em
				),
				sizes:(
						xs: 16px,
						md: 18px,
						lg: 20px,
						xl: 24px
				)
		),
		36: (
				generalStyles: (
						line-height: 133%,
						letter-spacing: 0.04em
				),
				sizes:(
						xs: 22px,
						md: 24px,
						lg: 28px,
						xl: 36px
				)
		),
		40: (
				generalStyles: (
						line-height: 100%,
						letter-spacing: 0.01em
				),
				sizes:(
						xs: 24px,
						md: 30px,
						lg: 36px,
						xl: 40px
				)
		)
);



$elsemediaTextFormats: (
		light: (
				font-weight: 300
		),
		regular: (
				font-weight: 400
		),
		bold: (
				font-weight: 700
		)
);

@import "spacer-variables";
$elsemediaSpacerDirections: (t:top,r:right,b:bottom,l:left);


$hover-transition-time: 0.24s;
$hover-transition-method: ease-in-out;
$hover-transition: $hover-transition-time $hover-transition-method;
$hamburger-layer-color: $dark;
$hamburger-layer-width: 14px;
$hamburger-layer-border-radius: 0px;
$hamburger-layer-spacing: 2px;
$hamburger-layer-height: 2px;
$hamburger-padding-x:0;
$hamburger-padding-y: 0;

// additional default changes

// body
$body-bg:                   $white !default;
$body-color:                $secondary !default;
$body-text-align:           null !default;

// typography
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$lead-font-size:              $font-size-base * 1.8 !default;
$font-size-nav:               $font-size-base * .9 !default;
$font-size-btn:               $font-size-base * .9 !default;

$h1-font-size:                $font-size-base * 5 !default;
$h2-font-size:                $font-size-base * 3 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-font-weight:        bold !default;
$headings-color:              $darkgrey !default;

// line-height
$line-height-base:            2.25 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2.5 !default;
$line-height-lead:            1.5 !default;

// box-shadow
$box-shadow:                  0 .5rem 1rem rgba($black, .075) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;
$box-shadow-header:           0 .5rem 1.25rem rgba($black, .050) !default;
$box-shadow-service:          0 .5rem 1rem rgba($black, .025) !default;
$box-shadow-opening:          0 .5rem 1rem rgba($black, .025) !default;
$box-shadow-contact:          0 .5rem 1rem rgba($black, .025) !default;
$box-shadow-gallery:          0 .5rem 1rem rgba($black, .020) !default;
$box-shadow-sidebar:          0 .5rem 1rem rgba($black, .025) !default;
$box-shadow-menu:             0 .5rem 1rem rgba($black, .030) !default;
